[Unit]
Description=Update Bamf index for libunity docks

[Service]
Type=simple
ExecStart=/usr/bin/bamfwatcher
Restart=always

[Install]
WantedBy=multi-user.target
