pkgbase = wingpanel-indicator-sensors-git
	pkgdesc = Sensors indicator for Wingpanel
	pkgver = r31.3b9e5bc
	pkgrel = 1
	url = https://github.com/Dirli/wingpanel-indicator-sensors
	arch = x86_64
	groups = pantheon-unstable
	license = GPL2
	makedepends = git
	makedepends = meson
	makedepends = vala
	makedepends = wingpanel
	depends = glib2
	depends = glibc
	depends = gtk3
	depends = libgranite.so
	depends = libwingpanel-2.0.so
	depends = libgee
	provides = wingpanel-indicator-sensors
	conflicts = wingpanel-indicator-sensors
	source = git+https://github.com/Dirli/wingpanel-indicator-sensors.git
	sha256sums = SKIP

pkgname = wingpanel-indicator-sensors-git
